
* {
  font-family: 'Nanum Myeongjo', serif;
}

body {
  margin: 0;
  background: #e8eaf6;
}

a {
  text-decoration: none;
  color: white;
}

/* nav */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 20px;
  color: white;
}

.navbar__logo i {
  color: #d49466;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 24px;
  color: white;
}

.navbar__menu a:hover, .navbar__logo a:hover, .navbar__icons i:hover{
  color: #d49466;
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;

}

/* @media screen and (max-width: 720px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li  {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
} */

/* main */
.main {
  width: 45em;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-in-out;
}

#home_front {
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 345px;
  background: white;
}

#profile_front {
  width: 60%;
  margin: auto;
  padding: 10px;
}

#profile_front h1 {
  font-size: 48px;
  margin: 0;
  padding-left: 40px;
}

#profile_front p {
  font-size: 25px;
  margin: 0;
  padding-left: 40px;
  color: lightgray;
}

#self_photo {
  width: 40%;
}

#self_photo img {
  width: 100%;
}

#home_back {
  display: none;
  justify-content: flex-start;
  /* align-items: center; */
  position: absolute;
  width: 722px;
  height: 345px;
  background: white;
}

#button_back {
  position: absolute;
  
}

#profile_back {
  width: 722px;
  
}

#profile_back table {
  width: 100%;
  padding: 104px;
}

#profile_back th,td {
  padding: 5px;
}

/* about */

.about_header {
  width: 720px;
  text-align: center;
  font-size: 15px;
}

.content_text {
  width: 670px;
}

.content_text h3 {
  padding: 0;
}

.content_text ul {
  padding-left: 40px;
}

.content_text li {
  padding: 5px; 
  align-content: center;
  font-size: 14px;
}

/* project */
.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 1080px;
}

.project_content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  width: 480px;
  height: 300px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10%;
}

.project_content video {
  border-radius: 5%;
}

.project_content a {
  height: 90%;
}

.project_content span {
  height: 10%;
}

@media screen and (max-width: 720px) {
  .main {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
  }


  /* home */
  #home_front {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }

  #profile_front {
    height: 40%;
    width: fit-content;
    text-align: center;
  }

  #profile_front h1 {
    font-size: 38px;
    padding: 0;
  }

  #profile_front p {
    font-size: 20px;
    padding: 0;
  }

  #self_photo {
    height: 60%;
    width: fit-content;
  }

  #self_photo img{
    width: 320px;
    height: 400px;
  }

  #home_back {
    flex-direction: column;
    justify-content: flex-end;
    width: 320px;
    height: 512px;
  }

  #profile_back {
    width: 320px;
  }

  #profile_back table {
    padding: 180px 0 180px 35px;
  }


  /* about */

  .about_header {
    font-size: 10px;
    padding-left: 20px;
  }

  .about_header h1 {
    text-align: left;
  }

  .content_text {
    font-size: 12px;
  }

  .content_text h2 {
    text-align: left;
  }
  
  .content_text h3 {
    padding-left: 5px;
  }
  
  .content_text ul {
    padding-left: 20px;
  }
  
  .content_text li {
    padding: 5px; 
    align-content: left;
    font-size: 10px;
  }
}

@media screen and (max-width: 1080px) {
  /* .project */
  .project {
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }

  .project_content {
    width: 300px;
    padding: 20px;
  }
}